body {
  background: slategrey;
}

canvas {
  position: absolute;
  z-index: 999;
  margin-left: 330px;
}

table {
  margin: 0px auto;
  text-align: center;
  border: 2px solid;
}
table tr {
  padding: 0px;
  margin: 0px;
}
table tr th {
  border: 1px solid;
}

.number {
  border: 1px solid;
}